body {
    font-family: sans-serif;
    line-height: 1.5;
  
    background-color: linear-gradient(to bottom, #f7b9d0, #e865a0);
    color: #feb7e6;
  
    width: 980px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
    color:#333
  }
  
  main > h2 {
    text-align: center;
    font-size: 25px;
    color: #212121 ;
  }
section > p {
    color:#4d4d4d ;
  text-decoration: none;
  transition: all 0.3s ease;
}
ul> li {
    color: #4d4d4d;
  text-decoration: none;
  transition: all 0.3s ease;
}
  