body {
    font-family: sans-serif;
    line-height: 1.5;
  
    background-color: linear-gradient(to bottom, #eee, #f9d1c7);
    color: #333;
  
    width: 980px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
    color:#333
  }
  
  main > h2 {
    text-align: center;
    font-size: 25px;
    color: #f55d8e
  }
section > p {
    color: #f55d8e;
  text-decoration: none;
  transition: all 0.3s ease;
}
ul> li {
    color: #f55d8e;
  text-decoration: none;
  transition: all 0.3s ease;
}
  